/* FONTS */

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/Open%20Sans/OpenSans-SemiboldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

/* BODY */

body {
  margin: 0;
  font-family: OpenSans,'Helvetica Neue',Arial,sans-serif;
/*  background-color: black;*/
}

/* NAVBAR */

.navbar {
  background-color: black;
  height: 60px;
}

.navbar-header{
  padding: 5px 5px;
}

.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}

/* HEADER */

.jumbotron {
  background: url(images/header-bg.jpg) no-repeat center center;
  height: 691px;
  margin-top: 60px;
  margin-bottom: -30px;
  text-align: center;
}

.jumbotron .container {
  padding-top: 40px;
}

.jumbotron p {
  text-transform: uppercase;
  color: #dbdfde;
  font-size: 12pt;
  letter-spacing: 0.2em;
}

#image-container img {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}


/* MIDDLE */
#middle {
  background: url(images/body-bg.jpg) no-repeat center center;
  height: auto;
  text-align: center;
  color: white;
  padding-bottom: 70px;
}

#divider-top {
  height: 8px;
    background: repeating-linear-gradient(
    -45deg,
    #252525,
    #252525 2px,
    #2e2e2e 2px,
    #2e2e2e 5px
  );
}

#register-button-wrapper {
  margin-top: -28px;
}

#register-button {
  background-color: #2fa02a;
  border: 1px solid #2fa02a;
  border-radius: 2px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1em;
  padding: 10px 50px;
  font-size: 12pt;
  background: repeating-linear-gradient(
    -45deg,
    #2D9828,
    #2D9828 2px,
    #2fa02a 2px,
    #2fa02a 5px
  );
}

#register-button:hover {
  background-color: #37BA31;
  border: 1px solid #37BA31;
  background: repeating-linear-gradient(
    -45deg,
    #33AD2E,
    #33AD2E 2px,
    #37BA31 2px,
    #37BA31 5px
  );
}

#samsung-galaxy-container {
  margin-top: 70px;
}


.text {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.text h2 {
  font-weight: 600;
}

.text, blockquote {
  font-weight: 300;
}

.text blockquote {
  border: none;
}

.text blockquote:before {
  font-family: Georgia, serif;
  font-size: 60pt;
  display: block;
  content: "\201C";
  color: white;
  height: 150px;
  width: 50px;
  float: left;
  margin-top: -20px;
  margin-left: -20px;
}

#bottom-blockquote {
  margin-top: 0;
}

#divider-bottom {
  background-color: #222222;
  height: 50px;
}

footer {
  text-align: center;
  margin: 0 auto;
}

footer #footer-content {
  height: auto;
  background: url(images/footer-bg.jpg) no-repeat center center;
  color: white;
}

footer #padlock-wrapper img {
  margin: 0 auto;
  margin-top: -110px;
  padding-bottom: 20px;
}

footer #footer-headline h3 {
  font-weight: 600;
}

footer #stamp-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer #stamp-container img {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-bottom {
  background-color: #ffffff;
  height: 60px;
}

.navbar-bottom p, li {
  font-size: 8pt;
  color: #6e6e6e;
}

.navbar-bottom li {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#navbar-list {
  padding-top: 5px;
}

